@import '../../app/sass/vars';

.filter-container {
  color: $grey;

  h3 {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 0.9em;
    margin-bottom: 20px;
  }

  ul {
    font-size: 1.05em;
    list-style: none;
    display: flex;
    padding-left: 0px;
    margin: 0 0 10px 0;

    input {
      visibility: hidden;
      display: none;
    }

    label {
      cursor: pointer;
    }

    input:checked + label {
      color:rgba($black, 0.8);;
      font-weight: 600;
    }
  }
  
  .separator {
    opacity: 0.15;
    width: 90%;
  }

  .slash {
    margin: 0 8px;
  }

  .votes {
    margin-left: 5px;
    color: $black;
  }
}