@import '../../app/sass/vars';

.category-container {
  h3 {
    color: $grey;
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 0.9em;
  }

  ul {
    padding-left: 5px;
  }

  li {
    list-style: none;
    margin-bottom: 5px;

    a {
      display: block;
      padding: 10px 10px;
      font-size: 1.2em;
      font-weight: 700;
      text-transform: capitalize;
      text-decoration: none;
      color: rgba(#000, 0.8);
    }
  }
  
  .selected {
    background-color: white;
    border-radius: 5px;
  }
}